<!-- Stripe -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="col-4" id="errorMessage" style="color: red; display: none;">
      </div>
      <div class="col-4">
        <div id="payNow" class="btn btn-secondary" style="pointer-events:none;">Pay Now</div>
      </div>
    </div>
    
    
  </div>

  <!-- Example using Stripe checkout-->
  <script>
  	var stripe = Stripe('{{stripeKey}}');
    document.getElementById('payNow').addEventListener('click', function(){
      stripe.redirectToCheckout({
        sessionId: '{{stripeSession}}'
      }).then(function (result) {
      if(result.error.message){
        var errorElem = document.getElementById('errorMessage');
        return errorElem.innerText = result.error.errorMessage
      }
        console.log(result)
      });
    })
  	
  </script>