<div class="row">
  <h1>Cart Page</h1>	
</div>

<div class="order-details row">
  {{#each products}}
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <div class="img-con" style="width: 100%">
            <img src="{{this.image}}" style="width: 100%; height: auto">
          </div>
        </div>
        <div class="col-6">{{this.name}}</div>
        <div class="col-3"><strong>${{this.price}}</strong></div>  
      </div>
    </div>
  {{/each}}
  <div class="col-4">
    <div class="details-con">
      <div class="row">
        <div class="col-12">Subtotal: ${{orderTotal}}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="/checkout" class="btn btn-primary">Checkout Meow</a>
        </div>
      </div>
    </div>
  </div>
  
    
  </div>
</div>